body {
	background: white;
	color: black;
  text-align: center;
}
.button {
  font: bold 15px Times New Roman;
  text-decoration: none;
  background-color: #E3CF57;
  color: #000000;
  padding: 6px 6px 6px 6px;
  border-top: 3px solid #000000;
  border-right: 3px solid #000000;
  border-bottom: 3px solid #000000;
  border-left: 3px solid #000000;
 }
.temp {
  font: bold 15px Times New Roman;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #000000;
  padding: 6px 6px 6px 6px;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
}