<!DOCTYPE html>

<head>
	<title>Relays Control</title>
	<link rel="stylesheet" href='../static/master.css' />
</head>

<body>
	<h1>RPi Relays Control</h1>
	<br>
	<h2> Relays Status & Control </h2>
	<h3> RELAY 1 ==> {{ relay1 }} ==>
		{% if relay1 == 1 %}
		<a href="/relay1/off" class="button">TURN OFF</a>
		{% else %}
		<a href="/relay1/on" class="button">TURN ON</a>
		{% endif %}
	</h3>
	<h3> RELAY 2 ==> {{ relay2 }} ==>
		{% if relay2 == 1 %}
		<a href="/relay2/off" class="button">TURN OFF</a>
		{% else %}
		<a href="/relay2/on" class="button">TURN ON</a>
		{% endif %}
	</h3>
	<h3> RELAY 3 ==> {{ relay3 }} ==>
		{% if relay3 == 1 %}
		<a href="/relay3/off" class="button">TURN OFF</a>
		{% else %}
		<a href="/relay3/on" class="button">TURN ON</a>
		{% endif %}
	</h3>
	<h3> RELAY 4 ==> {{ relay4 }} ==>
		{% if relay4 == 1 %}
		<a href="/relay4/off" class="button">TURN OFF</a>
		{% else %}
		<a href="/relay4/on" class="button">TURN ON</a>
		{% endif %}
	</h3>
    <br>
    <h4> TEMP ==> <a class="temp">______</a>
    </h4>
</body>

</html>